@charset "utf-8";
/* CSS Document */

.pos {
	position: relative;
	left: -140px;
	top: -115px;
}
.pos2 {
	position: relative;
	left: 30px;
	top: -115px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 7px;
	padding-left: 8px;
}
