@charset "utf-8";
/* CSS Document */

.pos {
	position: relative;
	left: -125px;
	top: -95px;
}
p {
	font-style: oblique;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	left: 28%;
	bottom: 13%;
	color: #600;
}

.pos2 {
	position: relative;
	left: 30px;
	top: -95px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 7px;
	padding-left: 8px;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	position: relative;
	top: -25%;
	left: 31%;
	font-style: oblique;
	font-weight: bold;
	font-size: 24px;
	color: #600;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	position: relative;
	top: -22%;
	left: 28%;
	font-style: oblique;
	color: #600;
}
.loc {
	position: relative;
	left: 43%;
	top: -27.5%;
}
.add {
	position: relative;
	top: -23%;
	right: 45%;
	width: 120px;
}
.view {
	position: relative;
	top: -23%;
	right: 19.8%;
	width: 120px; 
}
.container {
	background-color: #FFC;
	height: 630px;
	width: 1000px;
	position: relative;
	left: 12.5%;
	top: 50%;
}
